<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weiboyi.routerdemo">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.NormalActivity" />
        <activity android:name=".ui.ForResultActivity" />
        <activity android:name=".filter.SchemeFilterActivity">
            <intent-filter>
                <data android:scheme="wbyf" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.NavFilterActivity"
            android:label="@string/title_activity_nav_filter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.WebActivity"></activity>
    </application>

</manifest>